{% extends 'layout.html' %}
{% block body %}
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <div class="px-13 py-40">
        <div class="content">
            <h1>Insufficient Leave available</h1>
            {% for i in rem%}
            {% for j in i %}
            <h1>Can take max {{j}} days of leave</h1>
            {% endfor %}
            {% endfor %}
            <p class="lead">
                <a href="/viewprofile" class="btn btn-primary btn-lg">GoTo Profile</a>
            </p>
        </div>
    </div>
</div>
{% endblock body %}